<div class="selector-anys"> 
	<h4 class="form-block-label">seleccionar exercici</h4>
   	<div class="input-group icon-container"><span class="input-group-addon input-group-addon-icon">&nbsp;</span>
		<div class="form-select form-select-inner">{{ form_widget(form.selectoranys, {'attr': {'placeholder': '' } })  }}</div>
	</div>
</div>