<div class="sidebar-module sidebar-module-inset">
	<h3>Calendari</h3>
	<div class="esdeveniments"></div>
</div>
<div class="sidebar-module">
	<h3>Dades del club</h3>
	<ul class="sidebar-module nav nav-sidebar">
		<li id="totalsocis">Socis actuals <span class="badge">...</span></li>  
		<li id="totalseccions">Seccions <span class="badge">...</span></li>
		<li id="totalcursos">Cursos <span class="badge">...</span></li>
	</ul>
</div>
<div class="sidebar-module sidebar-module-inset">
	<h3>Útils</h3>
	<ol class="list-unstyled">
		<li><a href="http://www.fomentmartinenc.org/" target="_blank"><span class="fa fa-chevron-circle-right"></span> Foment Martinenc</a></li>
		<li><a href="http://www.facebook.com/foment.martinenc/"	target="_blank"><span class="fa fa-chevron-circle-right"></span> Facebook Foment</a></li>
		<li><a href="http://www.agenciatributaria.es/" target="_blank"><span class="fa fa-chevron-circle-right"></span> Hisenda</a></li>
		<li><a href="http://www.lacaixa.es/" target="_blank"><span class="fa fa-chevron-circle-right"></span> La Caixa</a></li>
	</ol>
</div>
<!-- <div class="sidebar-module contact-info">
	<h3>Dades de contacte</h3>
	<ol class="list-unstyled">
		<li>Provença 591-593 (cantonada Rogent)</li>
		<li>08026 Barcelona</li>
		<li><a href="mailto:info@fomentmartinenc.org">info@fomentmartinenc.org</a></li>
		<li>Telèfon: 934357376</li>
	</ol>
</div> -->

