<table class="table">
	<thead>
		<tr><th class="hinfoprograma-original hidden-col">&nbsp;</th>
			<th class="hinfoprograma-desc">Programació</th>
			<th class="hinfoprograma-inici">hora</th>
			<th class="hinfoprograma-final">fins</th>
			<th class="hinfoprograma-icons">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{% if facturacio.getinfosetmanal|length > 0 or facturacio.getinfomensual|length > 0 or facturacio.getinfopersessions|length > 0    %}
		{% for info in facturacio.getinfosetmanal|merge(facturacio.getinfomensual)|merge(facturacio.getinfopersessions) %}
		<tr>
			<td class="infoprograma-original hidden-col">{{ info.original }}</td>
			<td class="infoprograma-desc">{{ info.info }}</td>
			<td class="infoprograma-inici">{{ info.hora }}</td>
			<td class="infoprograma-final">{{ info.final }}</td>
			<td class="infoprograma-icons"><a class="treure-programa" href="javascript:void(0)"><span class="fa fa-remove fa-1x red"></span></a></td>
		</tr>
		{% endfor %}
	{% else %}
	<tr class="fila-error"><td colspan="6"><div class="alert"><div class="alert alert-success">no hi ha programada cap sessió</div></div></td></tr>
	{% endif %}
	</tbody>
</table>