<div class="panel panel-default taula-resultats full-width-container">
	<div class="panel-heading">
		<span class="blue-title">activitats inscrites</span>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="hidden-col">id</th>
				<th class="hdescparticipacio">descripció</th>
				<th class="hquotaparticipacio">quota</th>
				<th class="hiconsparticipacio">accions</th> 
			</tr>
		</thead>
	</table>
	<table class="table  narrow scrollable activitats-data">
		<tbody class="full-width-container">
			{% if persona.participacionsSortedByIdDesc|length > 0 %}
				{% for participacio in persona.participacionsSortedByIdDesc %}
				
					{% set activitat = participacio.activitat %}
					{% include 'FomentGestioBundle:Includes:filaactivitatpersona.html.twig' %}
				
				{% endfor %}
			
			{% else %}
				<tr class="fila-error"><td>
					<div class="alert">
						<div class="alert alert-success">no hi ha activitats inscrites</div>
					</div>
				</td></tr>
			{% endif %}	
		</tbody>
	</table>
</div>